beam_models/
meta-llama/

gtr_wikipedia_index.pkl
.env
data/*
venv/

/logs
/src/__pycache__
/src/logs
/apex

/src/utils/__pycache__

__pycache__/
*.py[cod]
*$py.class

/src/bright_dataset_experiments/bright_embeddings/


/src/math/*
!/src/math/*.py